
# Ignore bundler config
/.bundle
/public
/gembin

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

Gemfile.lock

/gems
/log
/bin

/config/database.yml
/config/settings.yml

/js/node_modules
/js/npm

