---
google:
  analytics: 'UA-XXXXXX-X'
  adsense:
    client: "ca-pub-XXXX"
    slot: "YYY"
    width: 200
    height: 200
net:
  timeout: 15
cryptocoins:
  btc:
    url: "http://localhost:8080"
    key: "btckey"
    currency: "btc"
    display_name: "Bitcoin"
  ltc:
    url: "http://localhost:8081"
    key: "ltckey"
    currency: "ltc"
    display_name: "Litecoin"
docker:
  default_host: "localhost"
  image: "ubuntu"
  user: "cointhink"
rethinkdb:
  host: 'localhost'
  port: 28015
  db: 'data'
exceptions:
  to: 'sys@admin'
  from: 'exceptions@server'
  prefix: '[Site] '
redis:
  host: 'dockerhost'