---
google:
  analytics: 'UA-XXXXXX-X'
  adsense:
    client: "ca-pub-XXXX"
    slot: "YYY"
    width: 200
    height: 200
net:
  timeout: 15
cryptocoins:
  bitcoin:
  url: "tcp://btc_conainer"
  key: "btckey"
  litecoin:
  url: "tcp://ltc_container"
  key: "btckey"
