---
google:
  analytics: 'UA-XXXXXX-X'
  adsense:
    client: "ca-pub-XXXX"
    slot: "YYY"
    width: 200
    height: 200
net:
  timeout: 15
cryptocoins:
  bitcoin:
    url: "http://localhost:8080"
    key: "btckey"
  litecoin:
    url: "http://localhost:8081"
    key: "ltckey"
docker:
  default_host: "localhost"
  image: "ubuntu"