/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body#cointhink {
  .navbar {
    margin-bottom: 0;
    a.brand {
      color: white;
      padding-bottom: 10px;
      img {
        width:25px;
        margin-right:0.3em;
        vertical-align: text-bottom;
      }
      span.text {
        margin-top: 0.1em;
      }
    }
    a.brand:hover {
      color: grey;
      transition-property: color;
      transition-duration: 0.5s;
      transition-timing-function: ease;
    }

    .navbar-right {
      float: right;
    }
    .navbar-inner {
      padding-right: 5px;
    }
    .navbar-right-block {
      float: right;
      color: #ddd;
      margin-right: 1em;
      margin-top: 0.2em;
      form {
        margin-top: 0.4em;
        margin-bottom: 0;
      }
      input {
        font-size: 120%;
        margin-right: 4px;
      }
      button {
        color: black;
        margin: 0
      }
    }
    .user-detail a {
      color: #ddd
    }
    .main-menu {
      margin-top: 0.4em;
      margin-right: 1em;
      list-style: none;
      font-size: 150%;
      li {
        display: inline;
      }
      li:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  a {
    color: #888
  }

  a :hover {
    color: #bbb;
    text-decoration: underline
  }

  .alert-error {
    background-color: darkred
  }
  .alert {
    a {
      color: white
    }
  }

  H2:first-child {
    margin-top: 0
  }

  .footer {
    clear: both;
    margin: 2em auto;
    div {
      line-height: 1;
    }
    text-align: center;
    padding: 1em;
    font-size: 100%;
    width: 80%;
    margin-top: 4em;
  }

  .hidden {
    display: none;
  }

  .submenu {
    margin-top: 1px;
    line-height: 25px;
    background: #222;
    text-align: center;
    font-size: 140%;

    a {
      color: #888;
    }
    ul {
    }
    li {
      list-style: none;
      display: inline;
      margin-right: 1em;
    }
  }
}
