// Place all the styles related to the Blog controller here.

.blog {
  color: black;
  font-size: 120%;

  .post {
    margin: 2em 5em;

    .header {
      .title {
        font-size: 110%;
      }
      margin-bottom: 1em;
    }

    .date {
      font-size: 80%;
    }
    .body {
      .imgbox { text-align: center }
    }
  }

  .edit {
    margin: 2em;
    textarea.title {
      width: 100%;
      height: 1em;
      font-size: 120%;
    }
    textarea.body {
      width: 100%;
      height: 30em;
    }
  }

  li {
    list-style-type: none;
    .created_at {
      margin-right: 1em;
    }
  }
}