// Place all the styles related to the dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
  width: 900px;
  height: 370px;
  float: left;
  font-family: Calibri, Candara, Arial, sans-serif;
}

.clearboth {
  clear: both;
}

.bid {
  margin-left: 1em
}

section#opportunity {
  margin-left: 1em
}

section#trade_summary {
  margin-left: 1em
}

div#menu a {
  color: black
}

#menu {
  table.exchanges {
    a {
      width: 100%
    }
  }
  td.exchange {
     padding-right: 1em;
     text-align: center;
  }
  td.obookvalue {
     padding-left: 2em;
     text-align: right;
  }

  ul {
    list-style: none
  }

  ul.news {
    time {
      margin-right: 1em;
    }
    .exchange {
      background: lightgrey;
      margin-right: 0.5em;
    }
    .exchange a {color: black}
  }

}

.dash-fees {
  .schedule {
    font-size: 24px
  }
}

.dash-tos {
  width: 80%;
  p {
    font-size: 22px;
    line-height: 24px;
  }
  span.part {
    font-weight: bold;
    padding: 0.5em;
  }
}