// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_script {
  input {
    margin-right: 0.5em;
    width: 10em;
  }
}

.scripts-edit {
  .selected-source {
    font-style: italic;
    color: black;
  }

  fieldset textarea { width: 90% }
}

.scripts-lastrun {
  .commands{
    margin-bottom: 1em;
    a {
      margin-right: 0.5em;
    }
    form { display: inline}
  }
  .output{
    margin-bottom: 1em;
  }
  .body {
    width: 80%;
    pre {
      line-height: 13px;
    }
  }
  .signals {
    span {
      margin-right: 0.5em;
    }

    span.type{
      color: blue;
    }

    span.msg {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: brown;
    }
  }
}

.scripts-explore {
  .name { font-size: 110%}
  li { list-style-type: square}
}