// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_script {
  input {
    margin-right: 0.5em;
    width: 10em;
  }
}

.scripts-edit {
  .selected-source {
    font-style: italic;
    color: black;
  }

  fieldset textarea { width: 90% }
  #editor {
    height: 300px;
    font-size: 110%;
    border-style: solid
  }
}

.scripts-lastrun {
  ul {
    margin: 0 0 0.8em 1em;
    li { list-style: none; }
  }

  .commands{
    margin-bottom: 1em;
    a {
      margin-right: 0.5em;
    }
    form { display: inline}
  }
  .output{
    margin-bottom: 1em;
  }
  .body {
    width: 80%;
    pre {
      line-height: 15px;
    }
  }
  .signals {
    span {
      margin-right: 0.5em;
    }

    span.type{
      color: blue;
    }

    span.msg {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: brown;
    }
   }
  .trades {
    span.buysell {
      display: inline-block;
      color: blue;
      padding-left: 0.5em;
    }
  }

  .inventory {
    li { display: inline;
         border-right: 1px solid;
         margin-right: 3px }
    li:last-child { border: none }
  }
}

.scripts-leaderboard {
  .name a {
    font-size: 110%;
    color: black;
  }
  li {
    list-style-type: none;
    span + span {
      margin-left: 0.5em;
    }
  }

  .leaderboard { margin-bottom: 1em}
  #invtotal { color: black }
}

#scripts-docs {
  width: 80%;
  li { list-style: none }
  .toc {
    float: right;
    padding: 1em 2em;
    background: #ccc;

  }
  ol a { color: black }

  .apimethod {
    font-size: 110%;
  }
}
