// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_script {
  input {
    margin-right: 0.5em;
    width: 10em;
  }
}

.scripts-edit {
  .selected-source {
    font-style: italic;
    color: black;
  }

  fieldset textarea { width: 90% }
}