- adsense = SETTINGS["google"]["adsense"]
javascript:
  google_ad_client = #{{adsense["client"].to_json}};
  /* cointhink header */
  google_ad_slot = #{{adsense["slot"].to_json}};
  google_ad_width = #{{adsense["width"].to_json}};
  google_ad_height = #{{adsense["height"].to_json}};
= javascript_include_tag "//pagead2.googlesyndication.com/pagead/show_ads.js"
